{{#each articles}}
<div class="panel panel-default">
    <div class="panel-heading">
        <button class="delete btn btn-danger">x</button>
        <button class="edit btn btn-info">EDIT</button>
        <h2>{{this.title}}</h2>
        <h2>"Handlebars -- Article Title to go here"
        <small> June 99, 2099, 11:12:13 pm"</small>
        </h2>
        <h5 style="float:right; color: blue; margin-top: -10px;">Written by: jlb</h5>
    </div>
    <div class="panel-body">
        <p>User notes will go here.</p>
    </div>
</div>
{{/each}}
